<a href="https://colab.research.google.com/github/pVillaGuerrero/Registro-de-usuario/blob/main/Taller_2_An%C3%A1lisis_Exploratorio_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller 2: "Análisis Exploratorio de Datos" 

<span style="color: blue">***4tas Jornadas de Ingeniería Estadística UBB***</span>
    
<span style="color: blue">***Curso de Python para la Ciencia de Datos***</span>

Profesor: **Rodrigo Salas, Dr. Ing.**  <a href="mailto:rodrigo.salas@uv.cl">(e-mail)</a>

Universidad de Valparaíso

Instituto Milenio de Intelligent Healthcare Engineering **iHEALTH**

### Table of Contents:

* [1. Análisis de datos con PANDAS](#pandas)
* [2. Visualización de datos con SEABORN](#seaborn)
* [3. Análisis de Clustering con SCIKIT-LEARN](#scikit)

### 1. Data Analysis with PANDAS <a class="anchor" id="pandas"></a>

**Importación de las bibliotecas requeridas**

In [ ]:
import numpy as np
import pandas as pd

**Creación del DataFrame**

In [ ]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [ ]:
df1 = pd.DataFrame(data=d)
df1

In [ ]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df2

In [ ]:
df3 = pd.DataFrame(data=d, index=[7,8])
df3

In [ ]:
df1.info()

**Acceso a los datos**

In [ ]:
df = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]}, index = [3, 7, 12])

In [ ]:
df.at[7,'y']

In [ ]:
df.x

In [ ]:
df['x']

In [ ]:
df.loc[7]

In [ ]:
df.iloc[1]

In [ ]:
df.values

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.head()

In [ ]:
df.tail()

**Métricas y resúmenes estadísticos**

In [ ]:
d = np.random.rand(10,3)*10  #random data generation

In [ ]:
df = pd.DataFrame(data=d, columns=['A','B','C'])
df.describe()

Número de muestras por columnas

In [ ]:
df.count()

Sum realiza la suma de los valores de cada columna

$$Sum = \frac{1}{n}\sum_{i=1}^n x_i$$

In [ ]:
df.sum()

Mean es el promedio de los valores de los datos

$$\overline{X} = \frac{1}{n}\sum_{i=1}^n x_i$$

In [ ]:
df.mean()

La mediana es el valor que separa el conjunto de datos en dos mitadas.

$$median = \frac{1}{2} \left(x_{(trunc(n/2))} + x_{(trunc(n/2) +1)}\right)$$

In [ ]:
df.median()

Los cuantiles corresponden a puntos de cortes que se separa la distribución de probabilidad en con intervalos según la probabilidad definida.

<img src="median-quartiles.png" alt="Quartile" style="height: 7cm"/>

In [ ]:
df.quantile(0.25)

The variance is a measure of variability:

$$Variance = \frac{1}{n-1}\sum_{i=1}^n(x_i-\overline{X})^2$$

In [ ]:
df.var()

The standard deviation is a measure of data variability around mean of a sample of population

$$S_X = \sqrt{Variance}$$

In [ ]:
df.std()

The SEM is a measure of precision for an estimated population mean

$$SEM=\frac{S_X}{\sqrt{n}}$$

In [ ]:
df.sem()

Median Aboslute Deviation (MAD) is a measure of variability

$$MAD=median\{|x_i-\overline{X}|\}$$

In [ ]:
df.mad()

Max is the data sample with the greatest value

In [ ]:
df.max()

Min is the data sample with the lowest value

In [ ]:
df.min()

Covariance:

$$cov(X,Y) = \sum_{i=1}^n \sum_{j=1}^n (x_i - \overline{X})(y_i - \overline{Y})$$

In [ ]:
df.cov()

Pearson's Correlation Coefficient:

$$\rho = \frac{cov(X,Y)}{S_X\cdot S_Y}$$


<img src="correlation.jpg" alt="Correlation" style="height: 5cm"/>

In [ ]:
df.corr()

The skewness is a measure of the asymmetry of the probability distribution of a real-valued random variable about its mean. 

$$\gamma = \frac{\frac{1}{n}\sum_{i=1}^n(x_i-\overline{X})^3}{S_X^3}$$

- *Negative skew:* The left tail is longer (left-skewed distribution) $\gamma<0$
- *Positive skew:* The right tail is longer (right-skewed distribution) $\gamma>0$
- *Symmetrical* $\gamma\approx 0$

<img src="skewness.png" alt="Skewness" style="height: 5cm"/>

In [ ]:
df.skew()

Kurtosis is a measure of the "tailedness" of the probability distribution. Kurtosis describes the shape of a probability distribution.

$$\kappa = \frac{\frac{1}{n}\sum_{i=1}^n(x_i-\overline{X})^4}{S_X^4} - 3$$

- Leptokurtic $\kappa>0$
- Mesokurtic $\kappa\approx 0$
- Platykurtic $\kappa<0$

<img src="kurtosis.jpg" alt="Kurtosis" style="height: 5cm"/>

In [ ]:
df.kurt()

**Handling Missing Values**

In [ ]:
df = pd.DataFrame({'Name': ['B', 'D', 'A', 'X', None], 
                   'Age': [20, np.nan, 30, 55, 17], 
                   'Weight': [60, 76, np.nan, np.nan, 65]})
df

Finding missing values

In [ ]:
df.isna() # df.isnull()

In [ ]:
df.isna().sum() # Total of missing values

Drop missing values

In [ ]:
df2 = df.dropna()
df2

Data Imputing

In [ ]:
df.at[4,'Name']='NN'
df

In [ ]:
mean = df.mean()
print(mean)
df2 = df.fillna(mean)
df2

In [ ]:
df3 = df.fillna(axis=0, method="ffill")
df3

In [ ]:
df4 = df.interpolate(axis=0)
df4

**Data Query**

In [ ]:
df2[df2['Age']>30]

In [ ]:
df2.query('Age>30')

In [ ]:
df2.filter(items=['Name','Weight'])

**Combining DataFrames**

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df1

In [ ]:
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
df2

One-to-one join

In [ ]:
df3 = pd.merge(df1, df2)
df3

Many-to-one join

In [ ]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
df4

In [ ]:
pd.merge(df3, df4)

In [ ]:
df5 = pd.DataFrame({'name': ['Bob', 'Jake', 'Sue'],
                    'salary': [70000, 80000, 90000]})
df5

In [ ]:
df6 = pd.merge(df1, df5, left_on="employee", right_on="name", how='inner')
df6

Inner join:

In [ ]:
df7 = pd.merge(df1, df5, left_on="employee", right_on="name", how='outer')
df7

**GroupBy**

In [ ]:
df7.groupby('group')['salary'].mean()

**Operating with columns**

In [ ]:
df = pd.DataFrame({'Name': ['Ana', 'Diana', 'John', 'Peter', 'Alex'],
                   'Gender': ['female','female','male','male','male'],
                   'Age': [20, 25 , 30, 55, 17], 
                   'Weight': [60, 76, 90, 87, 82],
                   'Height': [1.65, 1.78, 1.85, 1.72, 1.79]})

df

In [ ]:
def bmi(w,h):
    return w/h**2

In [ ]:
df['BMI'] = df.apply(lambda x: bmi(x['Weight'], x['Height']), axis=1)
df

**Pivot Table**

In [ ]:
df.pivot_table(index='Gender', values='BMI', aggfunc=['max', 'mean'])

In [ ]:
df.groupby('Gender')['BMI'].max()

**Guardando el DataFrame**

In [ ]:
df.to_csv('datos.csv')

In [ ]:
df.to_excel('datos.xlsx')

**Gráficos**

In [ ]:
df.plot(x='Height', y='Weight', kind='scatter')

In [ ]:
df.boxplot()

In [ ]:
df.hist()

### 2. Data Visualization with SEABORN<a class="anchor" id="seaborn"></a>

In [ ]:
import seaborn as sns

In [ ]:
df = pd.read_csv("diabetes.csv", sep=",", skip_blank_lines=False)

In [ ]:
df.describe()

In [ ]:
sns.pairplot(hue = 'Outcome', data=df)

In [ ]:
sns.catplot(y='Insulin', x='Outcome', kind='violin', data=df)

In [ ]:
sns.catplot(y='Insulin', x='Outcome', kind='boxen', data=df)

In [ ]:
sns.catplot(y='Insulin', x='Outcome', kind='swarm', data=df)

In [ ]:
sns.scatterplot(x='Insulin', y='Glucose', hue='Outcome', data=df)

In [ ]:
sns.catplot(y='Insulin', x='Outcome', hue='Pregnancies', kind='box', data=df)

### 3. Análisis de Clustering

In [ ]:
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import numpy as np

Generación de datos sintéticos

In [ ]:
X, y = make_blobs(n_samples=500,
                  n_features=2,
                  centers=4,
                  cluster_std=1,
                  center_box=(-10.0, 10.0),
                  shuffle=True,
                  random_state=1)

In [ ]:
clusterer = KMeans(n_clusters=4, random_state=10)
cluster_labels = clusterer.fit_predict(X)

In [ ]:
range_n_clusters = [2, 3, 4, 5, 6]

for n_clusters in range_n_clusters:
    # Create a subplot with 1 row and 2 columns
    fig, (ax1, ax2) = plt.subplots(1, 2)
    fig.set_size_inches(18, 7)

    # The 1st subplot is the silhouette plot
    # The silhouette coefficient can range from -1, 1 but in this example all
    # lie within [-0.1, 1]
    ax1.set_xlim([-0.1, 1])
    # The (n_clusters+1)*10 is for inserting blank space between silhouette
    # plots of individual clusters, to demarcate them clearly.
    ax1.set_ylim([0, len(X) + (n_clusters + 1) * 10])

    # Initialize the clusterer with n_clusters value and a random generator
    # seed of 10 for reproducibility.
    clusterer = KMeans(n_clusters=n_clusters, random_state=10)
    cluster_labels = clusterer.fit_predict(X)

    # The silhouette_score gives the average value for all the samples.
    # This gives a perspective into the density and separation of the formed
    # clusters
    silhouette_avg = silhouette_score(X, cluster_labels)
    print("For n_clusters =", n_clusters,
          "The average silhouette_score is :", silhouette_avg)

    # Compute the silhouette scores for each sample
    sample_silhouette_values = silhouette_samples(X, cluster_labels)

    y_lower = 10
    for i in range(n_clusters):
        # Aggregate the silhouette scores for samples belonging to
        # cluster i, and sort them
        ith_cluster_silhouette_values = \
            sample_silhouette_values[cluster_labels == i]

        ith_cluster_silhouette_values.sort()

        size_cluster_i = ith_cluster_silhouette_values.shape[0]
        y_upper = y_lower + size_cluster_i

        color = cm.nipy_spectral(float(i) / n_clusters)
        ax1.fill_betweenx(np.arange(y_lower, y_upper),
                          0, ith_cluster_silhouette_values,
                          facecolor=color, edgecolor=color, alpha=0.7)

        # Label the silhouette plots with their cluster numbers at the middle
        ax1.text(-0.05, y_lower + 0.5 * size_cluster_i, str(i))

        # Compute the new y_lower for next plot
        y_lower = y_upper + 10  # 10 for the 0 samples

    ax1.set_title("The silhouette plot for the various clusters.")
    ax1.set_xlabel("The silhouette coefficient values")
    ax1.set_ylabel("Cluster label")

    # The vertical line for average silhouette score of all the values
    ax1.axvline(x=silhouette_avg, color="red", linestyle="--")

    ax1.set_yticks([])  # Clear the yaxis labels / ticks
    ax1.set_xticks([-0.1, 0, 0.2, 0.4, 0.6, 0.8, 1])

    # 2nd Plot showing the actual clusters formed
    colors = cm.nipy_spectral(cluster_labels.astype(float) / n_clusters)
    ax2.scatter(X[:, 0], X[:, 1], marker='.', s=30, lw=0, alpha=0.7,
                c=colors, edgecolor='k')

    # Labeling the clusters
    centers = clusterer.cluster_centers_
    # Draw white circles at cluster centers
    ax2.scatter(centers[:, 0], centers[:, 1], marker='o',
                c="white", alpha=1, s=200, edgecolor='k')

    for i, c in enumerate(centers):
        ax2.scatter(c[0], c[1], marker='$%d$' % i, alpha=1,
                    s=50, edgecolor='k')

    ax2.set_title("The visualization of the clustered data.")
    ax2.set_xlabel("Feature space for the 1st feature")
    ax2.set_ylabel("Feature space for the 2nd feature")

    plt.suptitle(("Silhouette analysis for KMeans clustering on sample data "
                  "with n_clusters = %d" % n_clusters),
                 fontsize=14, fontweight='bold')

### Gracias por su atención

Esto es todo por hoy.